@import '../../scss/main';

.button {
  border: 1px solid transparent;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.contained {
  color: $dark-grey;
  background: $light-grey;
  border: 2px solid transparent;
}

.outlined {
  color: $dark-grey;
  background: $white;
  border: 2px solid $light-grey;
}

.text {
  color: $dark-grey;
  background: $white;
  text-align: end;

  &:hover {
    text-decoration: underline;
  }
}