@import '../../scss/main';

.title {
  text-align: center;
}

.primary {
  color: $dark-blue;
}

.secondary {
  background: $light-grey;
  padding: 10px;
  color: $dark-grey;
}

.tertiary {
  color: $bright-blue;
}